/* line 1, ../../app/styles/merge.scss */
.CodeMirror-merge {
  position: relative;
  border: 1px solid #ddd;
  white-space: pre;
}

/* line 7, ../../app/styles/merge.scss */
.CodeMirror-merge, .CodeMirror-merge .CodeMirror {
  height: 350px;
}

/* line 11, ../../app/styles/merge.scss */
.CodeMirror-merge-2pane .CodeMirror-merge-pane {
  width: 47%;
}

/* line 12, ../../app/styles/merge.scss */
.CodeMirror-merge-2pane .CodeMirror-merge-gap {
  width: 6%;
}

/* line 13, ../../app/styles/merge.scss */
.CodeMirror-merge-3pane .CodeMirror-merge-pane {
  width: 31%;
}

/* line 14, ../../app/styles/merge.scss */
.CodeMirror-merge-3pane .CodeMirror-merge-gap {
  width: 3.5%;
}

/* line 16, ../../app/styles/merge.scss */
.CodeMirror-merge-pane {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}

/* line 21, ../../app/styles/merge.scss */
.CodeMirror-merge-pane-rightmost {
  position: absolute;
  right: 0px;
  z-index: 1;
}

/* line 27, ../../app/styles/merge.scss */
.CodeMirror-merge-gap {
  z-index: 2;
  display: inline-block;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  position: relative;
  background: #f8f8f8;
}

/* line 40, ../../app/styles/merge.scss */
.CodeMirror-merge-scrolllock-wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
}

/* line 44, ../../app/styles/merge.scss */
.CodeMirror-merge-scrolllock {
  position: relative;
  left: -50%;
  cursor: pointer;
  color: #555;
  line-height: 1;
}

/* line 52, ../../app/styles/merge.scss */
.CodeMirror-merge-copybuttons-left, .CodeMirror-merge-copybuttons-right {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 1;
}

/* line 59, ../../app/styles/merge.scss */
.CodeMirror-merge-copy {
  position: absolute;
  cursor: pointer;
  color: #44c;
}

/* line 65, ../../app/styles/merge.scss */
.CodeMirror-merge-copybuttons-left .CodeMirror-merge-copy {
  left: 2px;
}

/* line 66, ../../app/styles/merge.scss */
.CodeMirror-merge-copybuttons-right .CodeMirror-merge-copy {
  right: 2px;
}

/* line 68, ../../app/styles/merge.scss */
.CodeMirror-merge-r-inserted, .CodeMirror-merge-l-inserted {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAGUlEQVQI12MwuCXy3+CWyH8GBgYGJgYkAABZbAQ9ELXurwAAAABJRU5ErkJggg==);
  background-position: bottom left;
  background-repeat: repeat-x;
}

/* line 74, ../../app/styles/merge.scss */
.CodeMirror-merge-r-deleted, .CodeMirror-merge-l-deleted {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAGUlEQVQI12M4Kyb2/6yY2H8GBgYGJgYkAABURgPz6Ks7wQAAAABJRU5ErkJggg==);
  background-position: bottom left;
  background-repeat: repeat-x;
}

/* line 80, ../../app/styles/merge.scss */
.CodeMirror-merge-r-chunk {
  background: #ffffe0;
}

/* line 81, ../../app/styles/merge.scss */
.CodeMirror-merge-r-chunk-start {
  border-top: 1px solid #ee8;
}

/* line 82, ../../app/styles/merge.scss */
.CodeMirror-merge-r-chunk-end {
  border-bottom: 1px solid #ee8;
}

/* line 83, ../../app/styles/merge.scss */
.CodeMirror-merge-r-connect {
  fill: #ffffe0;
  stroke: #ee8;
  stroke-width: 1px;
}

/* line 85, ../../app/styles/merge.scss */
.CodeMirror-merge-l-chunk {
  background: #eef;
}

/* line 86, ../../app/styles/merge.scss */
.CodeMirror-merge-l-chunk-start {
  border-top: 1px solid #88e;
}

/* line 87, ../../app/styles/merge.scss */
.CodeMirror-merge-l-chunk-end {
  border-bottom: 1px solid #88e;
}

/* line 88, ../../app/styles/merge.scss */
.CodeMirror-merge-l-connect {
  fill: #eef;
  stroke: #88e;
  stroke-width: 1px;
}

/* line 90, ../../app/styles/merge.scss */
.CodeMirror-merge-l-chunk.CodeMirror-merge-r-chunk {
  background: #dfd;
}

/* line 91, ../../app/styles/merge.scss */
.CodeMirror-merge-l-chunk-start.CodeMirror-merge-r-chunk-start {
  border-top: 1px solid #4e4;
}

/* line 92, ../../app/styles/merge.scss */
.CodeMirror-merge-l-chunk-end.CodeMirror-merge-r-chunk-end {
  border-bottom: 1px solid #4e4;
}
